@model MicroCrm.Domain.Models.Company
<form id="company_view" class="easyui-form form-horizontal p-1" method="post">
  <fieldset class="form-group">
    <!-- begin row -->
    <div class="row h-100 justify-content-center align-items-center">
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.Id)</label>
      <div class="col-md-2 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.Id)"
               name="@Html.NameFor(model => model.Id)"
               value="@Html.ValueFor(model => model.Id)"
               class="easyui-textbox" disabled
               style="width:100%"
               type="text" />
      </div>
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.Code)</label>
      <div class="col-md-2 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.Code)"
               name="@Html.NameFor(model => model.Code)"
               value="@Html.ValueFor(model => model.Code)"
               class="easyui-textbox" disabled
               style="width:100%"
               type="text" />
      </div>
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.RegisterDate)</label>
      <div class="col-md-2 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.RegisterDate)"
               name="@Html.NameFor(model => model.RegisterDate)"
               value="@Html.ValueFor(model => model.RegisterDate)"
               class="easyui-datebox" disabled
               style="width:100%"
               type="text" />
      </div>
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.Name)</label>
      <div class="col-md-10 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.Name)"
               name="@Html.NameFor(model => model.Name)"
               value="@Html.ValueFor(model => model.Name)"
               class="easyui-textbox" disabled
               style="width:100%"
               type="text" />
      </div>
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.Address)</label>
      <div class="col-md-10 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.Address)"
               name="@Html.NameFor(model => model.Address)"
               value="@Html.ValueFor(model => model.Address)"
               class="easyui-textbox" disabled
               style="width:100%"
               type="text" />
      </div>
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.Contact)</label>
      <div class="col-md-4 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.Contact)"
               name="@Html.NameFor(model => model.Contact)"
               value="@Html.ValueFor(model => model.Contact)"
               class="easyui-textbox" disabled
               style="width:100%"
               type="text" />
      </div>
      <label class="col-md-2 pr-1 form-label text-right">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
      <div class="col-md-4 mb-1 pl-1">
        <input id="@Html.IdFor(model => model.PhoneNumber)"
               name="@Html.NameFor(model => model.PhoneNumber)"
               value="@Html.ValueFor(model => model.PhoneNumber)"
               class="easyui-textbox" disabled
               style="width:100%"
               type="text" />
      </div>
    </div>
  </fieldset>
</form>
